body {
  font-family: Nunito, sans-serif;
  color: #002b3d;
}

.ajoutArticleMainContent {
  margin-left: 5%;
  margin-top: 50px;
}

/*Titres*/

h1 {
  font-size: 36px;
  font-weight: 600;
  color: #002b3d;
}

a {
  text-decoration: none;
}

/*Menu*/

.menuPrincipal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Page ajout article*/

.champsTitreCategorie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 40px;
}

.ajoutTitreArticle {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 10px;
}

h1.titreAjouterArticle {
  font-family: Nunito, sans serif;
  font-size: 36px;
  font-weight: 600;
  color: #002b3d;
  margin-bottom: 30px;
}

.ajoutArticleCategorie {
  width: 40%;
  padding: 10px;
}

.ajoutArticleContenu {
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 10px;
}

.champContenu {
  border-radius: 20px;
  border: solid 1px #002b3d;
}

.champContenu:focus {
  border: 2px solid #002b3d;
  border-radius: 20px;
  outline: none;
  padding: 10px;
}

input[type='text'] {
  border: none;
  border-bottom: 1px solid #002b3d;
  outline: none;
  margin-top: 10px;
  padding: 10px;
}

input[type='text']:focus {
  border-bottom: solid 2px #002b3d;
  transition: 0.5s;
  outline: none;
}

select {
  width: 56%;
  font-family: Nunito, sans serif;
  color: #002b3d;
  font-size: 14px;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
}

.ajoutImage {
  width: 43%;
  float: right;
}

/*Boutons*/

div.btnAjoutArticle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  width: 70%;
  padding: 10px;
}

.annulerArticle {
  color: white;
  background-color: #828d92;
  padding: 12px;
  border-radius: 20px;
  width: 100px;
  margin-top: 20px;
  border: 0px;
  text-align: center;
}

.btnPublierArticle {
  color: white;
  font-family: Nunito, sans-serif;
  font-size: 16px;
  background-color: #ff870a;
  padding: 12px;
  border-radius: 20px;
  width: 120px;
  margin-top: 20px;
  border: 0px;
}

/*Page index articles*/

/*User*/

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lienModifierProfil a {
  color: #ff870a;
  text-decoration: underline;
}

hr {
  color: #828d92;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*Articles*/

.listeArticles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

/*Image*/

.imageContent {
  width: 30%;
  padding: 25px;
}

/*Détails articles*/

.detailsContent {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 25px;
}

.detailsArticleTitre {
  color: #002b3d;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  margin-bottom: 15px;
  text-decoration: none;
}

.detailsArticleDate {
  color: #828d92;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 15px;
}

div.detailsArticleTitre:hover {
  color: #ff870a;
}

/*Boutons*/

.btnChangeArticle {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.btnModifier {
  color: white;
  background-color: #002b3d;
  padding: 13px;
  width: 100px;
  border-radius: 20px;
  text-align: center;
}

.btnModifier:hover {
  color: white;
  background-color: #ff870a;
  padding: 13px;
  border-radius: 20px;
}

.btnSupprimer {
  color: white;
  background-color: #828d92;
  padding: 13px;
  width: 100px;
  border-radius: 20px;
  text-align: center;
}

.btnSupprimer:hover {
  color: white;
  background-color: #ff870a;
  padding: 13px;
  border-radius: 20px;
}

footer a {
  text-decoration: none;
  font-family: Nunito;
  font-weight: 600;
  color: white;
}

footer p {
  margin-left: 10px;
}

/*Read article*/

.articleContent {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  justify-content: space-between;
}

.articleTitre {
  font-size: 32px;
  font-weight: 600;
}
.articleTitre,
.articleImage,
.articleDate {
  margin-top: 20px;
}

.articleContenu {
  width: 70%;
  margin-top: 50px;
  font-size: 18px;
  line-height: 140%;
}

/*Footer*/

footer {
  background-color: #002b3d;
  background-color: #002b3d;
  color: white;
  line-height: 90%;
  font-size: 12px;
  padding: 15px;
  margin-top: 10px;
}

/*Header*/
.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_mainMenu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 25%;
}
