body {
  font-family: Nunito, sans-serif;
}

h1 {
  color: #002b3d;
}

.listArticles {
  display: flex;
  flex-direction: row;
}

.articleTitre {
  color: #002b3d;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
}

.articleDate {
  color: #828d92;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
}

.btnChangeArticle {
  display: flex;
  flex-direction: row;
}

.btnModifier {
  color: white;
  background-color: #ff870a;
  padding: 10px;
  border-radius: 20px;
}

.btnSupprimer {
  color: white;
  background-color: #828d92;
  padding: 10px;
  border-radius: 20px;
}

a {
  text-decoration: none;
  font-family: Nunito;
  font-weight: 600;
  color: white;
}
